/* 
    Document   : design
    Created on : 12-nov.-2012, 9:00:13
    Author     : BAVAY Emilien - THILLAYE Joachim
    Description:
        Purpose of the stylesheet follows.
*/

/* Page */
html {
	font-size: 100%; 
}
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif;
    font-size: .8em; 
    line-height: 1.25; 
    
    background: url(./img/background2.jpg) top center no-repeat;
}
#global {
    width: 850px;
    margin: auto;
    color: #F0E39E;
}

/* En-tete */
#entete {
    padding: 10px 0px 5px 10px; /* top-right-bottom-left */
    background: rgba(0, 0, 0, 0.5);
}
#entete h1 {
    margin: 0;
}
#entete h1 img {
    float: left;
    margin: 7px 20px 10px 0;
}
#entete .sous-titre {
    margin: 4px 0 15px 25px;
}

#lang a{
    float: right;
    margin-right: 6px;
    opacity: .6;
}
#lang a:hover{
    opacity: 1;
}

/* Menu de navigation */
#navigation {
    padding: 12px 15px;
    background: linen;
}
#navigation ul {
    width: 100%; 
    overflow: hidden; 
    margin: 0;
    padding: 0;
    list-style: none;
}
#navigation li.gauche {
    float: left; 
    margin-right: 10px;
    font-size: 1.4em;
    font-style: italic;
}
#navigation li.droite {
    float: right;
    margin-right: 0;
    margin-left: 10px;
    padding: 3px 0;
}
#navigation a {
    padding: 10px;
    line-height: 1.5;
    font-size: .9em;
    text-decoration: none;
    color: #FF6533;
}
#navigation a:hover, #navigation a:focus {
    background: white;
}

/* Contenu */
#contenu {
    padding: 10px 20px;
    color: #363B29;
    background: white;
    min-height: 300px;
}
#contenu > :first-child {
    margin-top: 10px;
}
#contenu a {
    color: #332510;
}
#contenu a:hover, #contenu a:focus {
    color: #6E5122;
}
#contenu strong {
    color: #181A12;
}
#contenu .grid_element {
    color: white;
    border: 1px solid black;
    background-color: black;
}
#contenu p, #contenu li {
    line-height: 1.5;
}

/* Pied de page */
#pied {
    color: white;
    background: rgba(0, 0, 0, 0.5);
}
#pied p { 
    margin: 0;
    padding: 5px;
    font-size: .8em;    
    font-family: verdana;
    text-transform: uppercase;
    text-align: center;
}


/* STYLE PAR PAGES */
/* Index */
.grid_element {    
    position : relative;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 180px;
    height: 210px;    
    font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, san-serif;
    text-align: left;
    text-transform: uppercase;
}
.grid_element .album-name {
    float: left;
    width: 122px;
    padding-left: 2px;    
    font-size: .85em;     
}
.grid_element .album-artist {
    float: left;
    width: 122px;
    font-weight: bold;  
}
.grid_element .price-box { 
    position: absolute; 
    float: right;    
    right: 0;
    margin-top: 8px;
    font-size: 1.4em;
}

/* Formulaire d'enregistrement */
form.register{
    padding-left:10px;
    padding-top:10px;
    padding-bottom:30px;
}
form.register label{
    display: inline;
    float: left;
    text-align: left;
    width: 200px;
}
form.register input[type=submit]{
    margin-top: 20px;
    width: 120px;
} 
form.register span {
    color: #cc3300;
}

/* Page détails */
#detailPage {
    height: 450px;
}
#titre {
    color: #FFFFFF;
    background-color: #A4A4A4;
    margin-bottom: 5px;
    padding: 5px;
    font-family: Arial;
    font-size: 1.6em;
    font-weight: 900;
    text-transform: uppercase;
}
#illustration {
    float: left;
    width: 550px;
    height: 400px;
    background-color: #000000;
}
#inputQte {
    float: right;
    width: 255px;
    min-height: 400px;
    background-color: #000000;
    color : #FFFFFF;
}
#inputQte #desc {
    padding: 8px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dotted #D8D8D8;
    color: #D8D8D8;
    font-size: .8em;
    font-style: italic;
}
#inputQte #option {
     background-color: #F6911D;
     margin: 8px;
     margin-bottom: 15px;
     padding: 2px;
     text-align: center;
     color: #000000;
     font-weight: bold;
}
#inputQte p {
    margin: 8px;
    padding : 5px;
    background-color: #F6911D;
}
#inputQte input[type=submit]{
    width: 210px;
    height: 35px;
    margin: 8px;
    border: none;
    padding-right: 20px;
    font-size: 1.1em;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    background: url(./img/btnSubmit.png) top left no-repeat;
}

/* Page Cart */
#tableCart thead, tfoot{
    color: #f6f3ef;
    background-color: #91887c;
    font-family: Verdana;
    font-size: 11px;
    text-transform: uppercase;
}   
#tableCart tbody {
    text-align: center;
    background-color: #efeae4;
}  
#tableCart tfoot td a {
    color: #f6f3ef;
    text-decoration: overline;
    text-align: center;
}




/* --- STYLE DE BASE POUR LE TEXTE ET LES PRINCIPAUX ELEMENTS --- */
/* Titres */
h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 .5em 0; 
}
h1, h2 {
	font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
	font-weight: normal; 
}
h1 {
	font-size: 3em;
}
h2 {font-size: 1.8em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}

/* Listes */
ul, ol {
	margin: .75em 0 .75em 24px;
	padding: 0; 
}
ul {
	list-style: square;
}
li {
	margin: 0;
	padding: 0;
}

/* Paragraphes */
p {
	margin: .75em 0;
}
li p, blockquote p {
	margin: .5em 0;
}

/* Liens */
a {
    color: #FF6533;
}
a:hover, a:focus {
    color: #FF4C00;
}
a:visited {
    color: #FF4C00;
}
strong {
    color: #A1B55D;
}

img {
    border: 0px;    
}