<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletLangue</servlet-name>
        <servlet-class>packageController.ServletLangue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInscription</servlet-name>
        <servlet-class>packageController.ServletInscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetLastAlbums</servlet-name>
        <servlet-class>packageController.ServletGetLastAlbums</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetAlbum</servlet-name>
        <servlet-class>packageController.ServletGetAlbum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConnexion</servlet-name>
        <servlet-class>packageController.ServletConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPromotions</servlet-name>
        <servlet-class>packageController.ServletPromotions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetAlbumPromo</servlet-name>
        <servlet-class>packageController.ServletGetAlbumPromo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeconnexion</servlet-name>
        <servlet-class>packageController.ServletDeconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjoutPanier</servlet-name>
        <servlet-class>packageController.ServletAjoutPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletChangeQuantity</servlet-name>
        <servlet-class>packageController.ServletChangeQuantity</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLangue</servlet-name>
        <url-pattern>/ServletLangue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetLastAlbums</servlet-name>
        <url-pattern>/albums</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetAlbum</servlet-name>
        <url-pattern>/getAlbum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConnexion</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPromotions</servlet-name>
        <url-pattern>/ServletPromotions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetAlbumPromo</servlet-name>
        <url-pattern>/albumPromo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeconnexion</servlet-name>
        <url-pattern>/deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjoutPanier</servlet-name>
        <url-pattern>/ServletAjoutPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletChangeQuantity</servlet-name>
        <url-pattern>/changeQuantity</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
