<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletLangue</servlet-name>
        <servlet-class>packageController.ServletLangue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInscription</servlet-name>
        <servlet-class>packageController.ServletInscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLastAlbumsServlet</servlet-name>
        <servlet-class>packageController.GetLastAlbumsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAlbumServlet</servlet-name>
        <servlet-class>packageController.GetAlbumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConnexion</servlet-name>
        <servlet-class>packageController.ServletConnexion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLangue</servlet-name>
        <url-pattern>/ServletLangue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLastAlbumsServlet</servlet-name>
        <url-pattern>/albums</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAlbumServlet</servlet-name>
        <url-pattern>/getAlbum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConnexion</servlet-name>
        <url-pattern>/ServletConnexion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
